.App {
  text-align: center; }

.App-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.App-body .control-panel, .App-body .options-panel {
  padding: 2em;
  background-color: #dddddd; }

.App-body .life-area table {
  margin: 1em auto; }
