$background: #323c58
$grid: $background
$popColor: #fecc00
$alive: #24a934
$dead: #3c4662
$born: #6fa92d
$died: #39635e

html, body, #root
  height: 100%
  min-height: 100%
  font-family: 'Comfortaa', cursive

.App
  text-align: center
  background: radial-gradient(ellipse at center bottom, $born 0%, $background 75%)
  min-height: 100%


.App-header
  padding: 20px
  color: white

  h1
    color: $popColor
    font-size: 3.5em
    font-weight: bold

.App-body

  .panel-area
    padding: 2em
    color: white


  .control-panel
    
    .generation
      display: inline-block
      vertical-align: middle
      margin-left: 1em
      width: 8em
      text-align: left

  .options-panel
    display: flex
    flex-direction: column
    align-items: center

    .central
      display: flex
      flex-direction: column
      align-items: flex-start

    .option:first-child
      margin-bottom: 0.5em

    .type
      display: inline-block
      vertical-align: middle
      margin-right: 1em

  .life-area
    display: flex
    justify-content: center

    .grid
      margin: 1em auto
      display: flex
      flex-direction: column
      justify-content: center
      background-color: $grid
      padding: 1px 0 0 1px

      .line
        display: flex
        flex-direction: row
        justify-content: center

      .cell
        width: 8px
        height: 8px
        position: relative
        margin: 0 1px 1px 0
        background-color: $dead
        cursor: pointer

        &.alive
          background-color: $alive

        &.born
          background-color: $born

        &.died
          background-color: $died